{% load static %}

<! DOCTYPE html >
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Mój sklep {% endblock %}</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

	<link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
	<div id="header">
	  <div id="logo">
		<a href="/" class="logo">
			<IMG src="{% static "img/strona/logo.png" %} ">
		</a>
	  </div>		
	</div>
		
		<div class="d-flex justify-content-center">
			<nav class="navbar navbar-expand-lg   ">
			  <div class="container-fluid ">
				
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
				  <ul class="navbar-nav">
					<li class="nav-item">
					  <a class="nav-link active" aria-current="page" href="/"><button type="button" class="btn btn-success">Home</button></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link active" aria-current="page" href="{% url "shop:info" %}"><button type="button" class="btn btn-success">Info</button></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link active" aria-current="page" href="{% url "shop:kontakt" %}"><button type="button" class="btn btn-success">Kontakt</button></a>
					</li>
					
					<li class="nav-item dropdown">
					  <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<button type="button" class="btn btn-success dropdown-toggle"   >Przesyłka</button>
					  </a>
					  <ul class="dropdown-menu">
						<li><a class="dropdown-item" href="{% url "shop:krajowa" %}"><button type="button" class="btn btn-success ">Krajowa</button></a></li>
						<li><a class="dropdown-item" href="{% url "shop:zagraniczna" %}"><button type="button" class="btn btn-success">Zagraniczna</button></a></li>
						<li><a class="dropdown-item" href="{% url "shop:odbior" %}"><button type="button" class="btn btn-success">Odbiór os.</button></a></li>
					  </ul>
					</li>
				  </ul>
				</div>
			  </div>
			</nav>
		</div>
	<div id="subheader">
	
		<div class="cart">
			{% with total_items=cart|length %}
				{% if cart|length > 0 %}
				 Koszyk:
				 <IMG src="{% static "img/strona/kosz_pelny.png" %} ">	
				 <a href="{% url "cart:cart_detail" %}">
					{{ total_items }} produkt {{ total_items|pluralize:"y"}},
					{{ cart.get_total_price }} zł
				 </a>
				{% else %}
					
						{% with total_items=cart|length %}
						 {% if cart|length > 0 %}
						  Koszyk:
						  <a href="{% url "cart:cart_detail" %}">
							  {{ total_items }} produkt {{ total_items|pluralize:"y" }},
							  {{ cart.get_total_price }} zł
														
						  </a>
						
						 {% else %}
						  Koszyk jest pusty
						  <IMG src="{% static "img/strona/kosz_pusty.png" %} ">	
						  
						 {% endif %}
			{% endwith %}
					
		
				{% endif %}
			{% endwith %}
		</div>
	</div>
	
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
	
	
</body>
</html>